.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

#starter-container {
  padding-top: 20px;
}

.player-title, .score {
  text-transform: capitalize;
  font-weight: bold;
}

.winner {
  color: white;
  background-color: green;
  padding: 3px 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.current-score {
  padding: 10px;
}
#game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.player {
  width: 200px;
}

#reset-button {
  position: absolute;
  bottom: 5%;
  right: 20%;
  display: none;
}